.section-auth {
  .v-form {
    padding-top: 25px;
    .v-card-text {
      .v-col {
        padding-block: 0 !important;
      }
      & > div {
        p {
          padding-bottom: 5px;
        }
      }
      & > div:nth-child(2) {
        text-align: right;
        padding-top: 15px;
        a {
          color: red;
        }
      }
      .v-btn {
        margin-top: 25px;
      }
    }
    .v-card-text:last-child {
      text-align: center;
      a {
        color: red;
      }
    }
  }
}
