$res_sm: "only screen and (min-width: 600px ) ";
$res_md: "only screen and (min-width: 960px) ";
$res_lg: "only screen and (min-width: 1280px ) ";
$res_xl: "only screen and (min-width: 1920px )";
$res_xxl: "only screen and (min-width: 2560px)";

@mixin responsive_sm() {
  @media #{$res_sm} {
    @content;
  }
}
@mixin responsive_md() {
  @media #{$res_md} {
    @content;
  }
}
@mixin responsive_lg() {
  @media #{$res_lg} {
    @content;
  }
}
@mixin responsive_xl() {
  @media #{$res_xl} {
    @content;
  }
}
@mixin responsive_xxl() {
  @media #{$res_xxl} {
    @content;
  }
}
