.section-movie__showing {
  .wrapper-content {
    .movie-list {
      display: grid;
      row-gap: 25px;
      column-gap: 20px;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      @include responsive_sm {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }
      @include responsive_md {
        grid-template-columns: repeat(4, minmax(0, 1fr));
      }
      .movie-item {
        .movie-box {
          position: relative;
          .movie-quality {
            position: absolute;
            top: 5px;
            right: 5px;
            background: rgb(var(--v-theme-secondary));
            color: rgb(var(--v-theme-grey-50));
            font-size: 14px;
            font-weight: 500;
            border-radius: 6px;
            padding: 4px 6px 4px 6px;
            line-height: 1;
            z-index: 2;
          }
          .movie-content {
            margin-top: 14px;
            h3.movie-title {
              width: 100%;
              font-weight: 600;

              text-transform: capitalize;
              position: relative;
              margin-bottom: 0;
              text-align: left;
              font-size: 16px;
              cursor: pointer;

              overflow: hidden;
              text-overflow: ellipsis;
              white-space: pre-wrap;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
            }
          }
        }
      }
    }
  }
}
